 *{
    box-sizing: border-box;
    margin: 0;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    background:url(./imagenes/Project\ 2.jpg);
    background-size:cover ;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(21, 22, 22);
    font-family:'Tapestry', cursive;
}

 

nav{
    
    width: 100%; 
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
     justify-content: space-around;
     

}

.lista a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 15px 50px;
    background-color: rgb(107, 190, 107);
    border-radius: 100px;
    
}

.menu .lista{
    display: inline-block;
    margin-left: 9%;
    
   
}

.lista-r{
    float: right;
}
.lista a:hover{
   
    font-size: 25px;
     background-color: #d4ffad;
    
}

main{
    text-align: center;
}

img{
    margin-top: 10px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border:10px solid rgb(121, 202, 145); 
}

p{
    font-size: 22px;
    font-weight: 600;
}

.container2{
    
    align-content: center;
    display: flex;
    width: 50px;
    height: 50px;
    
    /* centrar vertical y horizontalmente */
    position: absolute;
    top: 28%;
    left: 43%;
    margin: -25px 0 0 -25px;
    
   
    
    
}
input{
    border: 0;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
    margin-top: 5%;
    background-color: #bdcfecd5;
}
label{
    margin-top: 30px;
    font-size: 22px;
    font-weight: 600;
}
#textarea{
    border: 0;
    font-size: 18px;
    margin: 5px;
    background-color: #bdcfecd5;
    color: black;
}
button{
    background:#174d01;
    color: white;
    margin-top: 20px;
    padding: 10px;
    font-family: 20px;
    font-weight: 600;
    border-radius: 5px;


}
input::placeholder{
    color: white;
}
input:focus{
    outline: none;
    background-color: rgb(243, 255, 191);
    color: black;
}

  
  